{% extends '__base__.html' %}

{% block title %}编辑日志{% endblock %}

{% block beforehead %}

<script>
var
    g_blog_id       = '{{blog_id}}',
    url_get_blog    = '/api/blog/{{blog_id}}',
    url_post_blog   = '/api/blog/edit';

function initContent(blog_data) {

    var vm = new Vue({
        el: '#form-blog',
        data: blog_data,
        methods: {
            submit: function (event) {
                event.preventDefault();

                postApi(
                    url_post_blog,
                    {
                        blog_id: blog_data.id,
                        name: this.name,
                        summary: this.summary,
                        content: this.content
                    },
                    function (err, res) {
                    if (err) {
                        alert('ERROR:'+err);
                    }
                    else {
                        alert('保存成功！');
                        return location.assign('/blog/'+res.id);
                    }
                });
            }
        }
    });
}

$(function() {
    if(g_blog_id == '' || g_blog_id == '__new__'){
        initContent({
            id: '',
            name: '[title]',
            sumarry: '[sumarry]',
            content: '[content]'
        });
    }
    else{
        getApi(url_get_blog, function (err, results) {
            if (err) {
                return showError(err);
            }
            $('#div-loading').hide();
            initContent(results.blog);
        });
    }
});

</script>

{% endblock %}

{% block content %}

    <div class="uk-width-1-1">
        <form id="form-blog" v-on="submit: submit" class="uk-form uk-form-stacked">
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <input v-model="name" class="uk-width-1-1" placeholder="title">
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <textarea v-model="summary" rows="4" class="uk-width-1-1" placeholder="summary"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <textarea v-model="content" rows="8" class="uk-width-1-1" placeholder="content"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary">保存</button>
            </div>
        </form>
    </div>

    <div id="div-loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>

{% endblock %}
